html, body {
   height: 100%;
}

#main {
  padding: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
}

#controls {
  padding: 10px;
  top: 10px;
  left: 50px;
  bottom: auto;

  min-width: 500px;

  height: auto;
  width: auto;
  
  opacity: 0.45;
  transition: opacity 500ms 1s;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.9;
  transition-delay: 0;
}

a, a:hover {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

table {
  font-size: 0.83em;
  padding: 5px;
  width: 90%;
}


.irs-min, .irs-max {
  background: none;
}