@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

body {
  background-image:url("../img/bg_chalk_wall.jpg");
  font-family: "Shadows Into Light", cursive;
  font-weight: normal;
  font-size: 2em;
  color: white;
  line-height: 150%;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px; 
}

.control-label {
  font-size: 0.8em;
  font-weight: lighter;
}

#title {
  font-family: "Covered By Your Grace", cursive; 
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.items{
  font-family: "Covered By Your Grace", cursive;
  font-size: 1em;
}

.nav-pills > li > a {
  color: #FFF;
  text-decoration: none;
  padding-right: 90px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-right: 22px;
  padding-left: 22px;
  margin-right: 22px;
  line-height: 20px;
}

.nav-pills > li > a:hover,
.nav-pills > .active > a,
.nav-pills > .active > a:hover, 
.nav-pills > .active > a:focus {
  background-color: white;
  color: #333333;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #333;
  background-color: #fff;
}

a, a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

hr {
  height: 6px;
  border: 0;
  box-shadow: inset 0 6px 6px -6px white;
}

label, input {
  font-size: 1em;
}

.space {
  padding-top: 10px;
  padding-bottom: 10px;
}

.irs-from, .irs-to, .irs-single {
  background: transparent;
  color: white
}
.irs-bar {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: white;
}

.irs-bar-edge {
  border: 1px solid white;
  background: white;
}
