/*
html {
  background-image:url('http://p1.pichost.me/i/28/1509588.jpg'); no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
*/

body {
	/*background-color: transparent;*/
  /*background-color: black;*/
}

.row {
	background-color: #000;
	opacity: 0.5;
}
