a {
  text-decoration: none;
}

#main{
  padding-bottom: 10px;
}

#header {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

#tabset > li > a {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.2em;
}


.panel-footer{
  background-color: transparent;
  border-top: 1px solid transparent;
}

.prodbox {
  padding-bottom: 50px;
}

.prodbox:hover {
  background-color: #F4F4F4;
}

.prodboxinner {
 padding: 5px; 
}


/* Theme */
a {
  color: #428BCA;
}

.irs-from, .irs-to, .irs-single {
  background: #428BCA;
}

.irs-bar {
  border-top: 1px solid #428BCA;
  border-bottom: 1px solid #428BCA;
  background: #428BCA;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #428BCA;
}

#footer, #header {
  background: #428BCA;
}

.prodbox:hover {
  background-color: #EFEFEF;
  box-shadow: 0px -3px 0px #428BCA inset;
}

