a {
  text-decoration: none;
}

#main{
  padding-bottom: 10px;
}

#header {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

#tabset > li > a {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.2em;
}

h4 small, h3 small {
  color: #B0B0B0;
}


.panel-footer{
  background-color: transparent;
  border-top: 1px solid transparent;
}

.prodbox {
  padding-bottom: 20px;
  padding-top: 20px;
}

.prodbox:hover {
  background-color: #F7F7F7;
}

.prodboxinner {
 padding: 5px; 
}

/* Cart */
.table tbody > tr > td{
    vertical-align: middle;
}

/* detail product */
.imgthumb {
 padding: 2px; 
}

/* Theme */
a {
  color: #428BCA;
}

.irs-from, .irs-to, .irs-single {
  background: #428BCA;
}

.irs-bar {
  border-top: 1px solid #428BCA;
  border-bottom: 1px solid #428BCA;
  background: #428BCA;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #428BCA;
}

#footer, #header {
  background: #428BCA;
}

.prodbox:hover {
  background-color: #EFEFEF;
  box-shadow: 0px -3px 0px #428BCA inset;
}

