@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

#title {
  font-family : "Playfair Display", serif;
}

.nav-tabs > li,.nav-pills > li {
  float : none;
  display: inline-block;
  zoom: 1;
  }

.nav-tabs,.nav-pills {
  text-align : center;
}

.nav-pills > li > a {
  font-family : "Playfair Display", serif;
  text-transform : uppercase;
  font-size : 1.15em;
  color:#f0d9b5 ;
  text-decoration : none;
  margin-top:0 ;
  margin-bottom : 30px;
  padding-right : 22px;
  padding-left : 22px;
  margin-right : 22px;
  line-height : 20px;
}

.nav-pills > li > a:hover,.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color : #FFF;
  color : #b58863;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color : #b58863;
  background-color : #f0d9b5;
}
