.skin-red .left-side, .skin-red .main-sidebar, .skin-red .wrapper {
  background-color: #ecf0f5;
  
}

.content {
  background-color: white;
}

.skin-red .main-sidebar {
    background-color: #222d32;
}
