.value-box > .inner {
  padding-top: 0;
  padding-bottom: 0;
}

.value-box .icon i {
  color: rgba(0, 0, 0, 0.075);
}

.value-box .caption {
  font-size: 13px;
}

.value-output {
  font-size: 25px;
}

.input-group-addon {
  padding: 7px 18px;
}

#referral-path {
  font-size: 0.8em
}
    
